<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>GPS SYSTEM</title>
    <h1><center>GPS PROTOTYPE</center></h1>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
     <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(init);
        var myMap, 
            myPlacemark;

        function init(){ 
            myMap = new ymaps.Map("map", {
                center: [55.76, 37.64],
                zoom: 10
            });

            myPlacemark = new ymaps.Placemark([55.76, 37.64], {
                hintContent: 'Собственный значок метки',
                balloonContent: 'Это красивая метка'
            }, {
                // Опции.
                // Необходимо указать данный тип макета.
                iconLayout: 'default#image',
                // Своё изображение иконки метки.
                iconImageHref: '../public/images/boy.gif',
                // Размеры метки.
                iconImageSize: [30, 42],
                // Смещение левого верхнего угла иконки относительно
                // её "ножки" (точки привязки).
                iconImageOffset: [-3, -42]
            });
            
            myMap.geoObjects.add(myPlacemark);
        }
    </script>
</head>
<body>
    <form action="/">
        <button type="submit">Выход</button>
    </form>
    <div style="display: table; margin: 0 auto; text-align: right;">
   <div  id="map" style="width: 600px; height: 400px"></div>
    </div>
</body>

</html>
